#NODE
NODE_NO_WARNINGS = '1'
#Puero
PORT=3000
#BaseURL
BASE_URL=https://quelora.localhost.ar:444
CLIENT_URL=https://quelora.localhost.ar
DASHBOARD_URL=https://quelora.localhost.ar:445
#Perspective
PERSPECTIVE_API_URL=https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze
PERSPECTIVE_API_KEY=
TOXICITY_THRESHOLD=0.7
#Translate
TRANSLATE_DETECT_API_URL=https://translation.googleapis.com/language/translate/v2/detect
TRANSLATE_API_URL=https://translation.googleapis.com/language/translate/v2
TRANSLATE_API_KEY=
#JWT GENERAL
JWT_SECRET=
JWT_TTL=72h
#JWT ADMIN
JWT_ADMIN_SECRET=
JWT_ADMIN_TTL=72h
#MongoDB
MONGO_URI=mongodb://192.168.171.132:27018/quelora
#Cache URL
CACHE_REDIS_URL=redis://redis-internal:6379
CACHE_URL=redis://redis-internal:6379
#Comentarios
LIMIT_COMMENTS=15
DEFAULT_LANGUAGE=es
#GPT
MODEL=gpt-4o
TEMPERATURE=0
MAX_TOKENS=1000
API_KEY=
MAX_RETRIES=5
TIMEOUT=20000
#Detect Language
DL_API_KEY=
DL_URL=https://ws.detectlanguage.com/0.2/detect
#ENCRYPTION_KEY
ENCRYPTION_KEY=
#VAPID
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=quelora@quelora.app
# BullMQ Worker Configuration
WORKER_CONCURRENCY=10
WORKER_MAX_JOBS_PER_SECOND=5000
WORKER_MAX_RETRIES=3
WORKER_BACKOFF_DELAY_MS=1000
WORKER_REMOVE_COMPLETED_JOBS=true
WORKER_REMOVE_FAILED_JOBS=1000
WORKER_MONITOR_INTERVAL_MS=60000
WORKER_RATE_LIMIT_WINDOW_MS=1000

# Reddit Seeder Configuration
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USERNAME=
REDDIT_PASSWORD=
REDDIT_USER_AGENT="Quelora-Seeder/1.0 by /u/your-reddit-user"
REDDIT_LIMIT=1000

# GIPHY
GIPHY_API_KEY=
GIPHY_SEARCH_URL=https://api.giphy.com/v1/gifs/search

#CID
CID=QU-XXXXXXXX-XXXXX

#MAIL
SMTP_HOST="postfix"
SMTP_PORT=25
SMTP_USER=
SMTP_PASS=
MAIL_TO=""
